









<%- include('_header') %> 
<div>
    
</div>








<div class="container">
        <div class="header">
        <h3>
              lets chat    
            </h3>
        </div>



   
<div class="form">
   <div id = "error-container"></div>
   <form action="" id="form" method="POST" >  
<input id="username" type="text" name="username" autocomplete="off"  placeholder="choose a username"/>
   <button type = "button" name = "button" onclick ="setUsername()">
      Let's chat!
   </button>
</form>
</div>


         

       
      
   



<!-- 
<h3>
   select a username
</h3>

      <div id = "error-container"></div> -->
     
     
<%- include('_footer') %> 