
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:45%;
    height:90vh;
    margin-left:auto;
    margin-right:auto;
    margin-top:8px;
    border:1px solid grey;
    background-color:#f1f1f1;
    border-radius:5px;
}
 .form{
    margin:4px;
    padding:4px;   
 }

 .header{
    margin:4px;
    height:40px;
    padding:4px;
    border-radius:5px;
    background-color: crimson;
    color:white;
 }

form {
   margin-top:3px;
   margin-left:3px;
   margin-right:-106px;
   margin-bottom:3px;
}
   
 input[type="text"]{
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
    margin-right:0.422rem;
    border-bottom: 2px solid crimson;
    width:70%;
    height:45px;
    transition:all 0.3s ease-in-out;
    font-weight: bold;
    background-color: #f1f1f1;
    transition:all 0.3s ease-in-out;
}

input[type="text"]:focus{
    background-color: white;
}

form button {
    width: 13%;
    background: rgb(130, 224, 255);
    border: none; 
    padding: 10px;
    background-color:crimson;
    color:white;
    height:45px;
    position: relative;
    cursor:pointer   
}

form button:hover{
    text-decoration: underline;
}

#messsage{
    border:1px solid black;
    padding:5px;
    width:200px;
    margin: 4px;
    word-break: normal
}

#messages { 
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

#messages li {
    padding: 5px 10px;
}

#messsage :nth-child(odd) { 
    background: #eee; 
}